@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--white);
}

:root {
	/* Colors */
	--white: #0f0f0f;
	--aubergine: #f1f1f1;
	--red: #54b08b;
	--grey-300: #272727;
	--grey-500: #c4c2c5;
	--grey-700: #928f94;
	--border: #444444;
	--active: #444444;
	--tag-hover: #928f94;
	--tag-color: #e0e0e0;
	--tag-font-color: #ffffff;
	--search-bg-color: #353535;

	--arrow-scroll-background: rgba(15, 15, 15, 0);

	/* Font sizes */
	--font-xl: 40px;
	--font-l: 20px;
	--font-m: 14px;
	--font-s: 12px;

	/* Font weights */
	--font-bold: 700;
	--font-light: 400;

	/* Filters */
	--aubergine-filter: invert(100%) sepia(38%) saturate(2%) hue-rotate(186deg) brightness(110%)
		contrast(100%);
	--red-filter: invert(39%) sepia(33%) saturate(5761%) hue-rotate(341deg) brightness(96%)
		contrast(87%);

	/* Shadows */
	--multiple-avatar-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
	--input-shadow: 0px 0px -32px 20px rgba(0, 0, 0, 0.1);

	/* Border radius */
	--border-radius: 5px;
	--border-radius-xl: 10px;
	--border-radius-xxl: 20px;

	/* Gaps */
	--gap-xl: 50px;
	--gap-l: 30px;
	--gap-m: 15px;
	--gap-s: 10px;
	--gap-xs: 7px;

	/* Date Picker Svelte*/
	--date-picker-background: var(--white);
	--date-picker-foreground: var(--aubergine);
	--date-picker-highlight-border: var(--grey-500);
	--date-picker-highlight-shadow: none;
	--date-picker-selected-color: var(--red);
	--date-picker-selected-background: var(--w);
	--date-input-width: 242px;
}

h1 {
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: unset;
}

input {
	border: none;
	height: 50px;
}

span {
	color: var(--aubergine);
}

input:focus {
	outline: none;
}

::placeholder {
	color: var(--aubergine);
	opacity: 1;
}

.application {
	display: none;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.spinner {
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.spinner::before,
.spinner:after {
	content: '';
	position: absolute;
	border-radius: inherit;
}

.spinner:before {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, var(--red) 0%, var(--aubergine) 100%);
	animation: spin 0.5s infinite linear;
}

.spinner:after {
	width: 85%;
	height: 85%;
	background-color: var(--white);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes dropdown-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}